@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

.max-font-120px {
  font-size: clamp(3rem, 12vw, 120px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.7s forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.7s forwards;
}
